@import "./elements.css";
@import "./classes.css";

@font-face {
  src: local("CaslonAntique"), url("./CaslonAntique.ttf") format("truetype");
  font-family: "CaslonAntique";
}

:root {
  --title-font-size: 6em;
  --content-font-size: 3em;
  --padding: 2em;
}

#__next {
  height: 100vh;
}

@media (max-width: 768px) {
  :root {
    --title-font-size: 4em;
    --content-font-size: 2em;
  }
}

@media (max-width: 480px) {
  :root {
    --title-font-size: 3em;
    --content-font-size: 1.5em;
  }
}
