@font-face {
    font-family: 'CaslonAntique';
    src: local('CaslonAntique'), url('../fonts/CaslonAntique.ttf') format('truetype');
}

* {
    margin: 0;
    font-family: 'CaslonAntique';
}

body {
    height: 100vh;
}

h1 {
    text-align: center;
    font-size: 6em;
    padding-top: 25vh;
}

p {
    text-align: center;
    font-size: 3em;
    padding: 1.5em 3em;
    transition: opacity 2s;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
    }

    * {
        color: white;
    }
}